In [1]:
import pandas as pd
import os

In [2]:
m_descr = pd.read_csv("..\\scraper\\data\\mpst_full_data.csv")
m_descr.describe()

,imdb_id,title,plot_synopsis,tags,split,synopsis_source
count,14828,14828,14828,14828,14828,14828
unique,14828,13757,13848,5604,3,2
top,tt0057603,Beauty and the Beast,Dragon Ball Z picks up five years after the en...,murder,train,wikipedia
freq,1,10,12,1004,9489,10656

In [3]:
for column in m_descr.columns:
    print(f"Number of null values in {column} is --> {m_descr[column].isnull().sum()}")

Number of null values in imdb_id is --> 0
Number of null values in title is --> 0
Number of null values in plot_synopsis is --> 0
Number of null values in tags is --> 0
Number of null values in split is --> 0
Number of null values in synopsis_source is --> 0

In [8]:
a_movies = pd.read_csv("../scraper/data/movies_metadata.csv")

C:\Users\barto\AppData\Local\Temp\ipykernel_24940\1012681554.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  a_movies = pd.read_csv("../scraper/data/movies_metadata.csv")

In [11]:
a_movies.loc[a_movies['imdb_id'] == 'tt2073679']

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
30694,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}, {'id': 18,...",http://www.theinvisiblefront.com/,289159,tt2073679,en,Nematomas frontas,"Between 1944–1953, courageous resistance movem...",...,2014-03-20,0.0,87.0,"[{'iso_639_1': 'lt', 'name': 'Lietuvi\x9akai'}...",Released,NaN,The Invisible Front,False,7.0,3.0

In [30]:
from itertools import groupby

base_dir = "C:\\Users\\barto\Desktop\\PosterRecognition\\scraper\\data\\images"

num = {"tt{:0>7}".format(p_dir): len(os.listdir(base_dir + f"\\{p_dir}")) for p_dir in os.listdir(base_dir)}

num

{'tt0000001': 2,
 'tt0100014': 1,
 'tt0100024': 1,
 'tt0100029': 4,
 'tt0100031': 1,
 'tt0100046': 1,
 'tt0100049': 2,
 'tt0100050': 6,
 'tt0100053': 1,
 'tt0100054': 2,
 'tt0100063': 1,
 'tt0100065': 1,
 'tt0100070': 1,
 'tt1000764': 1,
 'tt1000769': 1,
 'tt1000771': 8,
 'tt1000774': 7,
 'tt0100079': 1,
 'tt0100100': 1,
 'tt0100107': 3,
 'tt0100112': 3,
 'tt0100114': 3,
 'tt0100129': 1,
 'tt1001333': 1,
 'tt0100134': 2,
 'tt0100135': 1,
 'tt0100140': 2,
 'tt0100142': 2,
 'tt0100143': 2,
 'tt0100148': 1,
 'tt0100150': 6,
 'tt1001508': 10,
 'tt0100151': 1,
 'tt0100152': 1,
 'tt1001526': 6,
 'tt1001540': 2,
 'tt1001548': 2,
 'tt0100156': 2,
 'tt1001562': 1,
 'tt0100157': 6,
 'tt0100168': 3,
 'tt0100172': 1,
 'tt0100196': 2,
 'tt0100198': 1,
 'tt0100200': 3,
 'tt0100201': 4,
 'tt0100211': 1,
 'tt0100212': 3,
 'tt0100224': 2,
 'tt0100234': 6,
 'tt0100240': 2,
 'tt1002459': 2,
 'tt1002540': 1,
 'tt1002561': 5,
 'tt1002563': 2,
 'tt1002567': 6,
 'tt0100258': 3,
 'tt0100260': 5,
 'tt0100263': 6,
 'tt0100265': 1,
 'tt0100271': 0,
 'tt0100273': 6,
 'tt1002760': 3,
 'tt0100280': 2,
 'tt0100281': 1,
 'tt1002959': 1,
 'tt1002963': 2,
 'tt1002966': 6,
 'tt1003005': 5,
 'tt0100301': 1,
 'tt1003052': 6,
 'tt0100308': 2,
 'tt1003080': 2,
 'tt1003113': 3,
 'tt1003116': 2,
 'tt1003118': 1,
 'tt0100318': 2,
 'tt0100332': 2,
 'tt0100339': 6,
 'tt0100347': 1,
 'tt0100349': 1,
 'tt0100351': 1,
 'tt0100352': 1,
 'tt0100369': 1,
 'tt0100389': 2,
 'tt0100395': 1,
 'tt0010040': 1,
 'tt0100403': 2,
 'tt0100404': 3,
 'tt0100405': 3,
 'tt0100409': 2,
 'tt0100419': 2,
 'tt0100436': 1,
 'tt0100438': 1,
 'tt0100440': 3,
 'tt0100442': 4,
 'tt0100448': 4,
 'tt0100449': 2,
 'tt0100456': 1,
 'tt0100469': 1,
 'tt0100470': 3,
 'tt0100475': 2,
 'tt0100477': 1,
 'tt0100485': 1,
 'tt0100486': 2,
 'tt0100496': 2,
 'tt0100502': 6,
 'tt0100507': 8,
 'tt0100514': 3,
 'tt0100519': 6,
 'tt0100530': 2,
 'tt0100534': 1,
 'tt0100557': 5,
 'tt0100563': 1,
 'tt0010057': 2,
 'tt0100581': 6,
 'tt0100589': 1,
 'tt0100594': 1,
 'tt0010060': 1,
 'tt0100602': 1,
 'tt0100604': 1,
 'tt0100606': 1,
 'tt0100608': 1,
 'tt0100611': 1,
 'tt0100613': 1,
 'tt0100618': 2,
 'tt0100623': 6,
 'tt0100624': 1,
 'tt0100625': 8,
 'tt0100631': 1,
 'tt0100633': 2,
 'tt0100637': 2,
 'tt0100661': 1,
 'tt0100666': 2,
 'tt0100670': 1,
 'tt0100680': 3,
 'tt0100681': 4,
 'tt1006823': 1,
 'tt0100685': 1,
 'tt0100691': 1,
 'tt0100699': 2,
 'tt1007018': 1,
 'tt1007026': 1,
 'tt1007028': 3,
 'tt1007029': 2,
 'tt1007032': 3,
 'tt0010071': 1,
 'tt0100712': 1,
 'tt0100740': 7,
 'tt0100747': 1,
 'tt0100757': 3,
 'tt0100758': 5,
 'tt0100762': 1,
 'tt0100774': 1,
 'tt0100784': 1,
 'tt0100791': 2,
 'tt1007920': 5,
 'tt1007950': 2,
 'tt1008010': 2,
 'tt0100802': 5,
 'tt0100811': 2,
 'tt0100813': 1,
 'tt0100814': 2,
 'tt0100822': 2,
 'tt0100827': 6,
 'tt0100828': 1,
 'tt0100840': 1,
 'tt0100842': 2,
 'tt0100848': 1,
 'tt0100873': 5,
 'tt1009012': 4,
 'tt1009014': 1,
 'tt1009019': 1,
 'tt0100904': 1,
 'tt0100911': 4,
 'tt0100912': 1,
 'tt0100924': 1,
 'tt0100928': 1,
 'tt0100934': 1,
 'tt0100935': 2,
 'tt0100943': 1,
 'tt0100944': 2,
 'tt0100946': 1,
 'tt0100950': 1,
 'tt0100963': 6,
 'tt0100975': 5,
 'tt0100990': 1,
 'tt0100994': 1,
 'tt0100998': 3,
 'tt0101004': 1,
 'tt1010048': 7,
 'tt0101005': 1,
 'tt1010055': 8,
 'tt0101020': 6,
 'tt1010248': 1,
 'tt0101025': 1,
 'tt0101026': 6,
 'tt1010265': 2,
 'tt1010278': 1,
 'tt1010415': 2,
 'tt0101095': 6,
 'tt0101252': 1,
 'tt0101254': 1,
 'tt0101256': 1,
 'tt0101258': 6,
 'tt0101264': 3,
 'tt0101268': 1,
 'tt0101272': 8,
 'tt0101273': 1,
 'tt0101279': 5,
 'tt1012804': 2,
 'tt0101301': 1,
 'tt0101309': 6,
 'tt0101316': 4,
 'tt0101318': 1,
 'tt0101326': 8,
 'tt0101329': 2,
 'tt0101343': 1,
 'tt1013528': 1,
 'tt1013542': 5,
 'tt0101356': 2,
 'tt1013607': 3,
 'tt1013651': 1,
 'tt0101366': 2,
 'tt0101371': 1,
 'tt0101373': 1,
 'tt1013743': 7,
 'tt1013746': 1,
 'tt1013752': 8,
 'tt1013753': 6,
 'tt1013856': 6,
 'tt1013860': 6,
 'tt0101393': 1,
 'tt0101404': 1,
 'tt0101410': 3,
 'tt0101412': 5,
 'tt0101414': 6,
 'tt0101426': 1,
 'tt0101440': 5,
 'tt0101444': 1,
 'tt0101452': 1,
 'tt0101453': 3,
 'tt0101455': 1,
 'tt0101458': 3,
 'tt0010146': 2,
 'tt0101465': 3,
 'tt0101467': 2,
 'tt1014759': 12,
 'tt1014762': 5,
 'tt1014763': 6,
 'tt0101477': 1,
 'tt1014774': 2,
 'tt1014775': 10,
 'tt0101479': 1,
 'tt1014799': 2,
 'tt1014806': 3,
 'tt1014809': 1,
 'tt0101492': 1,
 'tt0101500': 1,
 'tt0101502': 1,
 'tt0101507': 2,
 'tt0101509': 1,
 'tt0101516': 1,
 'tt0101522': 1,
 'tt0101524': 1,
 'tt1015246': 1,
 'tt0101526': 3,
 'tt0101530': 1,
 'tt0101531': 1,
 'tt0101540': 4,
 'tt0101542': 1,
 'tt0101545': 2,
 'tt1015456': 1,
 'tt1015471': 1,
 'tt1015474': 2,
 'tt0101548': 5,
 'tt0101578': 1,
 'tt0101587': 1,
 'tt0101590': 1,
 'tt0101591': 2,
 'tt0101592': 2,
 'tt0101595': 2,
 'tt1015968': 1,
 'tt0101597': 2,
 'tt1015971': 2,
 'tt1015976': 2,
 'tt0101605': 3,
 'tt0101606': 1,
 'tt1016075': 9,
 'tt0101608': 1,
 'tt0101609': 1,
 'tt0101615': 1,
 'tt1016205': 3,
 'tt0101625': 1,
 'tt1016268': 1,
 'tt0101627': 4,
 'tt0101628': 2,
 'tt1016290': 9,
 'tt1016301': 7,
 'tt1016307': 4,
 'tt0101632': 1,
 'tt1016321': 4,
 'tt0101635': 1,
 'tt0101640': 6,
 'tt0101660': 1,
 'tt0101664': 1,
 'tt0101669': 2,
 'tt0101688': 1,
 'tt0101694': 1,
 'tt0101698': 1,
 'tt0101700': 3,
 'tt0101701': 2,
 'tt0101702': 6,
 'tt0101725': 1,
 'tt0101741': 1,
 'tt1017428': 4,
 'tt1017442': 1,
 'tt1017451': 7,
 'tt1017460': 7,
 'tt1017464': 2,
 'tt1017465': 1,
 'tt0101748': 1,
 'tt0101751': 2,
 'tt0101757': 1,
 'tt0101761': 3,
 'tt0101764': 3,
 'tt0101765': 6,
 'tt0101775': 1,
 'tt0101786': 2,
 'tt0101787': 1,
 'tt0101811': 1,
 'tt0101821': 1,
 'tt0101829': 1,
 'tt0101831': 2,
 'tt0101844': 1,
 'tt0101846': 6,
 'tt0101862': 1,
 'tt0101864': 3,
 'tt0101869': 1,
 'tt1018706': 2,
 'tt1018728': 1,
 'tt0101874': 1,
 'tt1018748': 1,
 'tt1018765': 3,
 'tt1018785': 3,
 'tt0101879': 1,
 'tt1018817': 3,
 'tt1018820': 2,
 'tt1018830': 2,
 'tt1018877': 1,
 'tt0101889': 3,
 'tt1018902': 6,
 'tt1018920': 1,
 'tt0101893': 1,
 'tt0101898': 1,
 'tt0101912': 1,
 'tt0101917': 12,
 'tt0101921': 2,
 'tt0101927': 1,
 'tt0101930': 1,
 'tt0101931': 1,
 'tt0101933': 1,
 'tt0101943': 3,
 'tt1019437': 1,
 'tt1019452': 3,
 'tt1019454': 3,
 'tt0010195': 1,
 'tt0101962': 2,
 'tt0101970': 1,
 'tt0101984': 1,
 'tt0101985': 5,
 'tt0101988': 8,
 'tt0101991': 4,
 'tt0101998': 1,
 'tt0102004': 4,
 'tt0102005': 1,
 'tt1020055': 2,
 'tt1020072': 3,
 'tt0102011': 5,
 'tt0102015': 5,
 'tt0102034': 6,
 'tt0102035': 2,
 'tt0102045': 2,
 'tt0102050': 8,
 'tt1020530': 3,
 'tt1020543': 3,
 'tt1020558': 6,
 'tt0102057': 2,
 'tt0102058': 1,
 'tt0102059': 6,
 'tt0102065': 1,
 'tt0102067': 6,
 'tt0102070': 3,
 'tt1020773': 6,
 'tt0102083': 1,
 'tt1020876': 2,
 'tt1020885': 1,
 'tt1020936': 3,
 'tt1020938': 6,
 'tt0102095': 2,
 'tt1020955': 6,
 'tt1020972': 5,
 'tt1020990': 3,
 'tt1021004': 6,
 'tt0102103': 2,
 'tt0102115': 0,
 'tt0102116': 2,
 'tt0102125': 1,
 'tt0102129': 1,
 'tt0102136': 3,
 'tt0102138': 2,
 'tt0102175': 1,
 'tt0102202': 6,
 'tt0102210': 1,
 'tt0102216': 2,
 'tt0102250': 3,
 'tt1022603': 10,
 'tt1022606': 3,
 'tt1022883': 1,
 'tt0102293': 6,
 'tt0102299': 1,
 'tt0102303': 2,
 'tt1023111': 2,
 'tt1023114': 2,
 'tt1023122': 1,
 'tt0102313': 1,
 'tt0102316': 3,
 'tt1023346': 1,
 'tt0102343': 4,
 'tt1023441': 8,
 'tt1023446': 2,
 'tt1023481': 6,
 'tt1023490': 7,
 'tt1023500': 1,
 'tt0102351': 2,
 'tt0102360': 1,
 'tt0102365': 5,
 'tt0102370': 2,
 'tt0102395': 1,
 'tt0102396': 2,
 'tt0102397': 1,
 'tt0102411': 2,
 'tt1024188': 3,
 'tt0102421': 1,
 'tt1024215': 1,
 'tt1024255': 3,
 'tt0102426': 1,
 'tt0102439': 1,
 'tt0102443': 4,
 'tt0102456': 2,
 'tt0102458': 1,
 'tt0102460': 1,
 'tt1024648': 6,
 'tt0102465': 1,
 'tt0102469': 1,
 'tt0010247': 1,
 'tt1024715': 5,
 'tt1024724': 2,
 'tt1024733': 4,
 'tt0102475': 1,
 'tt0102484': 1,
 'tt1024856': 4,
 'tt0102488': 1,
 'tt1024899': 4,
 'tt0102494': 2,
 'tt1024942': 9,
 'tt1024943': 4,
 'tt1024964': 1,
 'tt0102497': 1,
 'tt0102500': 3,
 'tt1025102': 2,
 'tt0102511': 3,
 'tt0102526': 1,
 'tt0102536': 0,
 'tt0102555': 3,
 'tt0102558': 1,
 'tt0102562': 2,
 'tt0102571': 2,
 'tt0102573': 1,
 'tt0102574': 1,
 'tt0102583': 4,
 'tt0102585': 4,
 'tt0102587': 4,
 'tt0102590': 1,
 'tt0102592': 1,
 'tt0102593': 1,
 'tt0102597': 2,
 'tt0102598': 1,
 'tt0102603': 2,
 'tt0102609': 3,
 'tt0102614': 2,
 'tt0102619': 1,
 'tt0102638': 1,
 'tt0102653': 1,
 'tt0102655': 1,
 'tt0102658': 1,
 'tt0102659': 1,
 'tt0102660': 1,
 'tt0102667': 6,
 'tt0010267': 2,
 'tt0102674': 1,
 'tt0102685': 2,
 'tt0102687': 1,
 'tt0102690': 2,
 'tt0102693': 1,
 'tt0102701': 4,
 'tt1027091': 1,
 'tt0102713': 1,
 'tt0102719': 1,
 'tt0102721': 1,
 'tt0102722': 6,
 'tt0102728': 3,
 'tt0102729': 1,
 'tt0102733': 1,
 'tt0102744': 2,
 'tt0102749': 1,
 'tt0102753': 1,
 'tt0102757': 1,
 'tt0102768': 1,
 'tt1027683': 1,
 'tt1027718': 6,
 'tt1027743': 4,
 'tt1027762': 2,
 'tt1027820': 4,
 'tt1027862': 2,
 'tt0102789': 1,
 'tt0102797': 1,
 'tt0102798': 6,
 'tt0102800': 3,
 'tt0102802': 2,
 'tt0102803': 9,
 'tt0010281': 1,
 'tt0102813': 2,
 'tt0102816': 6,
 'tt0102817': 1,
 'tt0102818': 1,
 'tt0102820': 1,
 'tt0102842': 1,
 'tt0102848': 5,
 'tt0102849': 2,
 'tt1028528': 6,
 'tt1028532': 10,
 'tt1028539': 1,
 'tt0102855': 6,
 'tt1028561': 1,
 'tt1028576': 6,
 'tt1028581': 5,
 'tt0102861': 2,
 'tt0102882': 1,
 'tt0102898': 2,
 'tt0102900': 1,
 'tt1029120': 3,
 'tt0102913': 2,
 'tt1029134': 1,
 'tt0102915': 2,
 'tt1029154': 1,
 'tt1029167': 1,
 'tt1029172': 1,
 'tt1029234': 3,
 'tt1029235': 9,
 'tt1029241': 2,
 'tt0102926': 6,
 'tt0102932': 6,
 'tt1029340': 1,
 'tt1029360': 6,
 'tt1029364': 1,
 'tt0102940': 1,
 'tt0102943': 1,
 'tt0102945': 3,
 'tt0102958': 1,
 'tt0102960': 1,
 'tt0102975': 6,
 'tt0102984': 2,
 'tt0102987': 1,
 'tt0103002': 1,
 'tt0103003': 3,
 'tt0103007': 1,
 'tt0103008': 2,
 'tt0103030': 6,
 'tt0103060': 6,
 'tt0103064': 6,
 'tt0103069': 1,
 'tt0010307': 5,
 'tt0103074': 5,
 'tt0103095': 1,
 'tt0103103': 3,
 'tt0103105': 4,
 'tt0103110': 6,
 'tt0103112': 1,
 'tt0103116': 6,
 'tt1031218': 1,
 'tt1031243': 4,
 'tt0103125': 1,
 'tt1031254': 5,
 'tt0103128': 1,
 'tt1031280': 6,
 'tt0103129': 1,
 'tt0103130': 1,
 'tt0103135': 2,
 'tt0103150': 4,
 'tt1031658': 1,
 'tt0103184': 4,
 'tt0103186': 3,
 'tt0103190': 4,
 'tt1031928': 5,
 'tt1031969': 8,
 'tt0001032': 1,
 'tt0103207': 1,
 'tt0103213': 1,
 'tt0010323': 6,
 'tt0103239': 1,
 'tt0103243': 1,
 'tt0103247': 2,
 'tt0103251': 1,
 'tt0103253': 3,
 'tt0103262': 1,
 'tt0103268': 1,
 'tt1032747': 1,
 'tt1032751': 6,
 'tt1032755': 3,
 'tt1032763': 6,
 'tt1032764': 3,
 'tt1032815': 4,
 'tt1032819': 1,
 'tt0103282': 1,
 'tt1032821': 3,
 'tt1032825': 6,
 'tt1032846': 6,
 'tt0103285': 5,
 'tt1032854': 6,
 'tt1032856': 6,
 'tt0103292': 2,
 'tt1032941': 3,
 'tt0103295': 6,
 'tt0103303': 1,
 'tt0103314': 2,
 'tt0103337': 4,
 'tt1033467': 3,
 'tt1033575': 2,
 'tt1033631': 1,
 'tt1033643': 5,
 'tt1034006': 1,
 'tt1034032': 8,
 'tt1034090': 2,
 'tt1034293': 1,
 'tt1034302': 1,
 'tt1034303': 3,
 'tt1034305': 5,
 'tt1034314': 6,
 'tt1034320': 6,
 'tt1034324': 4,
 'tt1034325': 2,
 'tt1034331': 8,
 'tt1034389': 5,
 'tt1034419': 6,
 'tt1034427': 8,
 'tt1034456': 1,
 'tt1035730': 7,
 'tt1035736': 10,
 'tt0103594': 5,
 'tt0103595': 1,
 'tt0103596': 2,
 'tt0103601': 1,
 'tt0103615': 1,
 'tt0103617': 4,
 'tt0103621': 1,
 'tt0103634': 2,
 'tt0103639': 6,
 'tt0103640': 1,
 'tt0103666': 1,
 'tt0103670': 2,
 'tt0103671': 1,
 'tt0103678': 4,
 'tt1037004': 1,
 'tt0103704': 5,
 'tt0103710': 3,
 'tt1037133': 2,
 'tt1037156': 1,
 'tt1037163': 1,
 'tt1037222': 4,
 'tt1037223': 1,
 'tt1037228': 6,
 'tt1037229': 2,
 'tt0103743': 3,
 'tt0103747': 2,
 'tt0103759': 2,
 'tt0103767': 1,
 'tt0103768': 1,
 'tt1037705': 10,
 'tt0103772': 3,
 'tt0103773': 2,
 'tt0103776': 6,
 'tt1037850': 6,
 'tt0103786': 1,
 'tt0103790': 1,
 'tt0103793': 3,
 'tt0103800': 3,
 'tt1038011': 4,
 'tt0103802': 3,
 'tt1038043': 1,
 'tt0103805': 1,
 'tt1038072': 3,
 'tt0103838': 2,
 'tt0103855': 1,
 'tt0103859': 3,
 'tt1038685': 3,
 'tt1038686': 9,
 'tt1038693': 2,
 'tt0103872': 1,
 'tt0103873': 4,
 'tt0103874': 4,
 'tt0103877': 2,
 'tt0103878': 1,
 'tt0103882': 1,
 'tt0103888': 1,
 'tt1038913': 1,
 'tt1038915': 2,
 'tt1038919': 10,
 'tt0103893': 2,
 'tt1038971': 2,
 'tt1038988': 6,
 'tt0103900': 1,
 'tt0103905': 3,
 'tt0103917': 1,
 'tt0103919': 3,
 'tt0103923': 4,
 'tt0103924': 2,
 'tt0103935': 6,
 'tt0103939': 2,
 'tt0103950': 6,
 'tt0103955': 1,
 'tt0103956': 5,
 'tt0103959': 5,
 'tt0103962': 3,
 'tt1039646': 1,
 'tt1039647': 2,
 'tt1039652': 8,
 'tt0103969': 1,
 'tt0103973': 1,
 'tt0103976': 1,
 'tt0103978': 1,
 'tt1039786': 2,
 'tt1039790': 2,
 'tt1039902': 2,
 'tt0103991': 3,
 'tt1039914': 3,
 'tt1039915': 2,
 'tt0103994': 3,
 'tt1040002': 3,
 'tt1040007': 1,
 'tt1040025': 3,
 'tt0104008': 5,
 'tt0104009': 2,
 'tt0104014': 6,
 'tt0104027': 1,
 'tt0104029': 3,
 'tt0104030': 1,
 'tt0104036': 1,
 'tt0104040': 2,
 'tt0104046': 5,
 'tt0104054': 1,
 'tt0104057': 1,
 'tt0104060': 0,
 'tt0104070': 1,
 'tt0104073': 2,
 'tt0104082': 1,
 'tt0104107': 1,
 'tt0104109': 1,
 'tt0104111': 1,
 'tt0104114': 1,
 'tt0104115': 1,
 'tt0104119': 3,
 'tt0104121': 2,
 'tt0104129': 1,
 'tt0104135': 0,
 'tt0104139': 1,
 'tt0104140': 1,
 'tt0104142': 1,
 'tt0104147': 1,
 'tt0104155': 1,
 'tt0010418': 1,
 'tt1041804': 4,
 'tt0104181': 5,
 'tt1041829': 5,
 'tt0104187': 2,
 'tt0104201': 1,
 'tt0104231': 3,
 'tt0104237': 1,
 'tt0104239': 1,
 'tt1042497': 1,
 'tt1042499': 5,
 'tt0104254': 2,
 'tt1042567': 1,
 'tt0104257': 3,
 'tt0104279': 5,
 'tt0104283': 2,
 'tt0104285': 1,
 'tt1042877': 4,
 'tt0104291': 1,
 'tt0104293': 1,
 'tt0104298': 3,
 'tt0104299': 3,
 'tt0104309': 1,
 'tt0104321': 1,
 'tt0104346': 4,
 'tt0104348': 6,
 'tt0104350': 6,
 'tt0104351': 2,
 'tt0104352': 5,
 'tt1043532': 1,
 'tt1043537': 3,
 'tt1043585': 4,
 'tt1043635': 5,
 'tt1043651': 7,
 'tt1043726': 6,
 'tt0104373': 1,
 'tt1043756': 4,
 'tt0104376': 2,
 'tt0104377': 2,
 'tt1043787': 1,
 'tt1043800': 5,
 'tt1043838': 2,
 'tt1043842': 6,
 'tt1043844': 3,
 'tt1043845': 2,
 'tt1043860': 2,
 'tt1043869': 4,
 'tt0104389': 1,
 'tt1043903': 1,
 'tt0104401': 1,
 'tt0104402': 1,
 'tt0104409': 6,
 'tt0104412': 1,
 'tt0104418': 2,
 'tt0104427': 2,
 'tt0104431': 6,
 'tt0104437': 4,
 'tt0104438': 2,
 'tt0104449': 1,
 'tt0104454': 6,
 'tt0104466': 2,
 'tt0104467': 1,
 'tt0104469': 1,
 'tt0104495': 1,
 'tt0104503': 1,
 'tt0104504': 1,
 'tt0104507': 3,
 'tt0104511': 2,
 'tt0104516': 1,
 'tt0104521': 2,
 'tt0104534': 1,
 'tt0104541': 1,
 'tt0104545': 5,
 'tt0104549': 2,
 'tt0104550': 2,
 'tt0104558': 6,
 'tt1045642': 1,
 'tt1045655': 4,
 'tt1045658': 6,
 'tt0104567': 1,
 'tt1045670': 3,
 'tt0104573': 5,
 'tt0104575': 1,
 'tt1045772': 7,
 'tt1045778': 3,
 'tt1045889': 1,
 'tt0104606': 2,
 'tt0104609': 3,
 'tt0104612': 1,
 'tt0104616': 1,
 'tt1046163': 7,
 'tt1046171': 0,
 'tt1046173': 11,
 'tt1046198': 2,
 'tt0104627': 2,
 'tt0104647': 2,
 'tt0104652': 6,
 'tt0104658': 2,
 'tt0104662': 3,
 'tt0104663': 3,
 'tt0104667': 1,
 'tt0104670': 2,
 'tt0104684': 6,
 'tt0104691': 2,
 'tt0104692': 1,
 'tt0104693': 1,
 'tt1046930': 1,
 'tt1046936': 2,
 'tt0104694': 4,
 'tt1046947': 2,
 'tt0104695': 1,
 'tt0104697': 2,
 'tt1046997': 8,
 'tt1047007': 10,
 'tt1047011': 4,
 'tt0104706': 4,
 'tt1047102': 1,
 'tt0104714': 2,
 'tt0104740': 4,
 'tt0104741': 1,
 'tt0104743': 1,
 'tt1047445': 1,
 'tt1047449': 2,
 'tt1047474': 1,
 'tt1047490': 2,
 'tt1047494': 4,
 'tt1047540': 3,
 'tt0104756': 3,
 'tt0104761': 1,
 'tt1047610': 1,
 'tt0104765': 1,
 'tt0104770': 5,
 'tt0104774': 2,
 'tt0104779': 1,
 'tt0104782': 1,
 'tt0104783': 1,
 'tt1047832': 1,
 'tt1047845': 2,
 'tt0104787': 1,
 'tt0104797': 4,
 'tt0104798': 1,
 'tt0104802': 3,
 'tt0104804': 2,
 'tt0104808': 6,
 'tt1048097': 5,
 'tt0104810': 3,
 'tt0104812': 1,
 'tt0104815': 2,
 'tt1048174': 3,
 'tt0104837': 1,
 'tt0104850': 2,
 'tt0104860': 1,
 'tt0104868': 1,
 'tt0104870': 1,
 'tt0104874': 2,
 'tt0104879': 1,
 'tt0104886': 1,
 'tt0104892': 1,
 'tt0104894': 1,
 'tt0104897': 6,
 'tt0104922': 1,
 'tt0104926': 2,
 'tt0104928': 2,
 'tt0104930': 1,
 'tt0104940': 1,
 'tt1049400': 2,
 'tt1049402': 1,
 'tt1049405': 1,
 'tt1049406': 1,
 'tt1049413': 11,
 'tt0104942': 1,
 'tt0104952': 3,
 'tt0104962': 1,
 'tt0104984': 1,
 'tt0104990': 1,
 'tt1049956': 1,
 'tt1050001': 4,
 'tt0105001': 1,
 'tt1050160': 6,
 'tt0105017': 4,
 'tt0105019': 3,
 'tt0105032': 3,
 'tt0105041': 1,
 'tt0105046': 3,
 'tt0105078': 0,
 'tt0105097': 1,
 'tt0105104': 2,
 'tt0105107': 1,
 'tt0105108': 1,
 'tt0105112': 1,
 'tt0105114': 1,
 'tt0105121': 2,
 'tt0105126': 1,
 'tt0105127': 1,
 'tt0105130': 5,
 'tt0105150': 1,
 'tt0105151': 2,
 'tt0105156': 1,
 'tt0105162': 1,
 'tt0105165': 1,
 'tt1051713': 1,
 'tt0105178': 6,
 'tt0105179': 2,
 'tt0105183': 1,
 'tt0105185': 4,
 'tt0105187': 2,
 'tt1051904': 6,
 'tt0105191': 2,
 'tt0105197': 4,
 'tt1051981': 2,
 'tt1052003': 1,
 'tt1052027': 1,
 'tt1052040': 2,
 'tt0105211': 3,
 'tt0105213': 1,
 'tt0105215': 1,
 'tt0105217': 2,
 'tt0105226': 2,
 'tt0105236': 6,
 'tt0105242': 1,
 ...}

In [32]:
grouped = {}

for key, group in groupby(sorted(num.items(), key=lambda y: y[1]), lambda x: x[1]):
    grouped[key] = [item[0] for item in group]

In [45]:
pd.DataFrame(list(num.items()), columns=['imdb_id', 'poster_count']).groupby('poster_count').count()

              imdb_id
poster_count
0                 256
1               13208
2                6110
3                4201
4                2817
5                1940
6                5435
7                 201
8                 212
9                 149
10                126
11                 86
12                 33
13                  1
14                  3
16                  2
17                  1

In [94]:
a_movies['poster_count'] = a_movies['imdb_id'].map(num)
a_movies = a_movies.dropna(subset=['poster_count'])
a_movies.head()

C:\Users\barto\AppData\Local\Temp\ipykernel_24940\1043989740.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  a_movies['poster_count'] = a_movies['imdb_id'].map(num)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,poster_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,6
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,6
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,1
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,4
5,False,NaN,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,949,tt0113277,en,Heat,"Obsessive master thief, Neil McCauley leads a ...",...,187436818.0,170.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A Los Angeles Crime Saga,Heat,False,7.7,1886.0,4

In [54]:
a_movies.to_csv("../scraper/data/movies_with_posters.csv")

In [60]:
a_movies['overview'].apply(lambda x: len(x.split()) if type(x) == type(str()) else None)

0         50.0
1         67.0
2         56.0
4         59.0
5         52.0
         ...
45459     94.0
45460     50.0
45461      8.0
45462     17.0
45464    120.0
Name: overview, Length: 34781, dtype: float64

In [74]:
a_movies.loc[a_movies['title'] == 'Toy Story']['overview'].tolist()

["Led by Woody, Andy's toys live happily in his room until Andy's birthday brings Buzz Lightyear onto the scene. Afraid of losing his place in Andy's heart, Woody plots against Buzz. But when circumstances separate Buzz and Woody from their owner, the duo eventually learns to put aside their differences."]

In [75]:
a_movies.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count', 'poster_count'],
      dtype='object')

In [76]:
m_descr.columns

Index(['imdb_id', 'title', 'plot_synopsis', 'tags', 'split',
       'synopsis_source'],
      dtype='object')

In [91]:
#dataframe containing movies with avaliable posters along with rich descriptions from different table.
posters_descriptions = pd.merge(m_descr, a_movies, how='inner', on='imdb_id')
columns_to_be_deleted = (set(posters_descriptions.columns) & set(m_descr)) - set(['plot_synopsis', 'tags'])

posters_descriptions.drop(axis=1, columns=columns_to_be_deleted, inplace=True)

In [96]:
posters_descriptions['num_description_tokens'] = posters_descriptions['plot_synopsis'].apply(lambda string: len(string.split(" ")))
posters_descriptions['num_description_tokens']

0       1315
1        378
2        705
3       2317
4       3063
        ...
9766     827
9767     307
9768     526
9769     412
9770     373
Name: num_description_tokens, Length: 9771, dtype: int64

In [99]:
posters_descriptions['title'] = posters_descriptions['title_y']
posters_descriptions.drop(axis=1, columns=['title_x', 'title_y'], inplace=True)

In [101]:
posters_descriptions['title'].head()

0                                    Black Sabbath
1    Dungeons & Dragons: The Book of Vile Darkness
2                       The Shop Around the Corner
3                               Mr. Holland's Opus
4                                         Scarface
Name: title, dtype: object

In [109]:
print(f"Number of movies with rich description and more than 2 posters --> {len(posters_descriptions.loc[posters_descriptions['poster_count'] > 2])}")

Number of movies with rich description and more than 2 posters --> 5979

In [102]:
posters_descriptions.to_csv("../scraper/data/movies_with_posters_and_rich_desc.csv")